{% load static %}
    <footer class="rodape">
        <div class="rodape__icones">
            <a href="https://youtube.com" target=”_blank” >
                <img width="40px" src="{% static 'assets/icons/icon-youtube.png' %}" alt="ícone youtube">
            </a>
        </div>
        <nav class="rodape__navegacao">
            <a href="#">Contato</a>
            <a href="#">Política de Privacidade</a>
            <a href="#">Sobre Nós</a>
        </nav>
        <p class="rodape__texto">Desenvolvedor: <a href="https://github.com/suntrack-energy" target="_blank">Equipe SunTrack</a>.</p>
    </footer>